{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    {% bootstrap_javascript %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="{% url 'index' %}">{% trans 'Менеджер задач' %}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">{% trans 'Пользователи' %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'statuses' %}">{% trans 'Статусы' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'labels' %}">{% trans 'Метки' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks' %}">{% trans 'Задачи' %}</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">{% trans 'Выход' %}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">{% trans 'Вход' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}">{% trans 'Регистрация' %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
    <p>
    {% include 'messages.html' %}

    {% block content %}
    {% endblock %}
    </p>
</body>
</html>